@import './colors.scss';
@import './fonts.scss';

$navbar-dark-toggler-border-color:  rgba($white, .9) !important;

* {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Roboto', sans-serif;
}

html, body {
  height: 100vh;
}

.app-root {  
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 900px;
  margin: auto !important;
}

/* Header */
#main-header {
  padding: 0 10px;
  background-color: $gunmetal;
  color: $white;

}

#navbar-links {
  justify-content: flex-end !important;
}

.navbar-brand p {
  padding: 0 !important;
  margin: 0 !important;

  color: $white !important;
  font-family: 'Quicksand', sans-serif !important;
}

.nav-link {
  font-family: 'Quicksand', sans-serif !important;
  color: $white !important;
}

#navbar-name {
  font-size: 16px;
}

#navbar-description {
  font-size: 11px;
}

/* Main section */
.main-container {
  flex: 1;

  .main {
    background-color: #F8F8F8;
    height: 100%;
  }
  
  /*overflow-y: auto;*/
}

/* Flexbox helper classes */
.flex {
  display: flex !important;

  .flex-column {
    flex-direction: column !important;
  }

  .flex-row {
    flex-direction: row !important;
  }
}

/* Comentarios */
#comments {

  > .flex {
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  .comment {
    background-color: rosybrown;
    border-radius: 10px;
    margin: 0 6px 16px 6px;
    padding: 10px 20px;
    min-width: 300px;
    width: 300px;

    span {
      font-family: 'Montserrat';
    }

    span:first-child {
      color:blue;
      font-size: 2rem;
      font-family: 'Times New Roman', Times, serif;
      margin-right: 8px;
    }

    .comment-author {
      text-align: center;
      color: white;
      margin-top: 12px;
      margin-bottom: 0;
    }

    .comment-relation {
      text-align: center;
      color: black;
      margin-bottom: 0;
    }
  }
}


