@import url('https://fonts.googleapis.com/css2?family=Karantina&family=Lato:wght@400;700&family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Karantina&family=Zen+Dots&display=swap');

$gunmetal: #122C34;
$indigo-blue: #224870;
$dark-blue: #2A4494;
$light-blue: #4EA5D9;
$turquoise: #44CFCB;

$white: #FDFDFD;
$black: #222;
$black-2: #333;

$navbar-dark-toggler-border-color:  rgba($white, .9) !important;

* {
  margin: 0;
  padding: 0;

  font-family: 'Lato', 'Roboto', sans-serif;
}

html, body {
  height: 100vh;
}

.app-root {  
  height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  max-width: 900px;
  margin: auto !important;
}

/* Header */
#main-header {
  padding: 0 10px;
  background-color: $gunmetal;
  color: $white;

}

#navbar-links {
  justify-content: flex-end !important;
}

.navbar-brand p {
  padding: 0 !important;
  margin: 0 !important;

  color: $white !important;
}

#navbar-name {
  font-size: 16px;
}

#navbar-description {
  font-size: 11px;
}

/* Main section */
.main-container {
  flex: 1;

  .main {
    background-color: #F8F8F8;
    height: 100%;
  }
  
  /*overflow-y: auto;*/
}

/* Flexbox helper classes */
.flex {
  display: flex !important;

  .flex-column {
    flex-direction: column !important;
  }

  .flex-row {
    flex-direction: row !important;
  }
}

/* Intro */
#intro {
  padding: 30px 0 0 0;

  .column:first-child {
    width: 30%;
    height: 200px;
  }

  .column:nth-child(2) {
    flex: 1;
  }

  .photo {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
    img {
      height: 80%;
      border-radius: 50%;    
    }
  }

  .name {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0 5px;

    h1 {
      color: $gunmetal;
      font-size: 2rem;
      font-family: 'Anton';
    }

    h2 {
      color: $indigo-blue;
      font-size: 1.2rem;
    }
  }

  @media (max-width:700px) {
    .column:first-child {
      width: 25%;
      height: 140px;
    }

    .name {
      h1 {
        font-size: 1.8rem;
      }

      h2 {
        font-size: 1rem;
      }
    }
  }

  @media (max-width: 560px) {
    .column:first-child {
      width: 35%;
      height: 120px;
    }
  }

  @media (max-width: 400px) {
    .column:first-child {
      width: 40%;
      height: 120px;
    }
  }
}

/* Education */
#education{
  padding:30px 20px;
  background-color: $white;

  .education-title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 18px;
  }

  .education-row {
    .education-info {
      flex: 1;
      padding: 0px 12px 22px 12px;
      
      h1, h2, h3 {
        font-family: 'Roboto', 'Lato', sans-serif;
      }

      h1 {
        font-family: 'Anton';
        font-size: 1.3rem;
        line-height: 1.3rem;
      }

      h2, h3 {
        font-size: 1rem;
        line-height: 1rem;
      }
    }

    .progress-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      
      .progress-item {
        background-color: $dark-blue;
        height: 20px;
        width: 20px;
        border-radius: 50%;
      }

      .progress-line {
        flex:1;
        background-color: $dark-blue;
        width: 2px;

      }
    }
  }

  .education-row:last-child {
    .progress-line {
      display: none;
    }

    .education-info {
      padding-bottom: 0;
    }
  }

  > .flex-column:last-child {
    
    margin-left: 60px;

    .progress-line, .progress-item {
      background-color: $indigo-blue;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column !important;
    
    > .flex-column:last-child {
      flex: 1;
      margin-left: 0;
      margin-top: 30px;
    }
  }
}

/* Personal */
#personal {
  padding: 20px 30px;

  > .flex {
    align-content: flex-start;
  }

  > .flex:first-child {
    width: 40%; 
    flex-wrap: wrap;
  }

  > .flex:last-child {
    flex: 1;
  }

  .personal-info {
    width: 50%;
    padding-right: 12px;
    margin-bottom: 12px;

    h1 {
      font-size: .95rem;
      font-weight: bold;
      color: $light-blue;
    }

    h2 {
      font-size: 1rem;
      color: $gunmetal;
      overflow-x: hidden;
    }
  }

  .resumo {
    width: 100%;

    h1 {
      font-size: 1.2rem !important;
    }
    h2 {
      font-size: .95rem;
    }
  }

  @media (max-width:800px) {
    .personal-info:not(.resumo) h1 {
      font-size: .8rem;
    }
    .personal-info:not(.resumo) h2 {
      font-size: .85rem;
    }
  }

  @media (max-width:700px) {
    flex-direction: column !important;

    > .flex {
      width: 100% !important;
    }
  }
}