<header class="container-fluid" id="main-header">
  <nav class="navbar navbar-expand-md navbar-dark main">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <p id="navbar-name">Paulo Cardoso</p>
        <p id="navbar-description">Paulo Cardoso</p>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-links" aria-controls="navbar-links" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbar-links">
        <ul class="navbar-nav mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="">Experiências</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Tecnologias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comentários</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contato</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<section class="main-container">
  <div class="main">
    <div id="intro" class="intro flex flex-row">
      <div class="column">
        <div class="photo">
          <img src="../assets/img/profile-1.jpg" alt="Profile photo">
        </div>
      </div>

      <div class="column">
        <div class="name">
          <h1>Paulo Vinicius Cardoso</h1>
          <h2>Analista de Sistemas</h2>
        </div>
      </div>
    </div>

    <div id="personal" class="flex flex-row">
      <div class="flex flex-row">
        <div class="personal-info">
          <h1>Cidade</h1>
          <h2>Porto Alegre</h2>
        </div>
        <div class="personal-info">
          <h1>Data de nascimento</h1>
          <h2>16/07/1995</h2>
        </div>
        <div class="personal-info">
          <h1>Endereço</h1>
          <h2>R. Jari 359</h2>
        </div>
        <div class="personal-info">
          <h1>E-mail</h1>
          <h2>pvinics@gmail.com</h2>
        </div>
      </div>
      <div class="flex flex-column">
        <div class="personal-info resumo">
          <h1>Resumo</h1>
          <h2>Possuo‌ ‌graduação‌ ‌(2016)‌ ‌e‌ ‌mestrado‌ ‌(2019)‌ ‌em‌ ‌Ciência‌ ‌da‌ ‌Computação‌ ‌pela‌ ‌Universidade‌ ‌
            Federal‌ ‌de‌ ‌Santa‌ ‌Maria.‌ ‌Durante‌ ‌a‌ ‌graduação‌ ‌atuei‌ ‌como‌ ‌pesquisador‌ ‌no‌ ‌Programa‌ ‌de‌ ‌
            Educação‌ ‌Tutorial‌ ‌do‌ ‌curso,‌ ‌quando‌ ‌tive‌ ‌o‌ ‌primeiro‌ ‌contato‌ ‌com‌ ‌a‌ ‌docência.‌ ‌No‌ ‌programa,‌ ‌
            realizei‌ ‌diferentes‌ ‌cursos‌ ‌para‌ ‌alunos‌ ‌de‌ ‌semestres‌ ‌iniciais.‌ ‌Durante‌ ‌o‌ ‌mestrado,‌ ‌ministrei‌ ‌
            aulas‌ ‌de‌ ‌programação‌ ‌básica‌ ‌durante‌ ‌a‌ ‌docência‌ ‌orientada.‌ ‌Desde‌ ‌2018‌ ‌atuo‌ ‌como‌ ‌Analista‌ ‌
            de‌ ‌Sistemas‌ ‌no‌ ‌Banrisul,‌ ‌onde‌ ‌também‌ ‌tive‌ ‌contato‌ ‌com‌ ‌a‌ ‌função‌ ‌de‌ ‌instrutor‌ ‌de‌ ‌
            programação‌ ‌para‌ ‌turmas‌ ‌de‌ ‌estagiários‌ ‌da‌ ‌empresa.‌ </h2>
        </div>
      </div>
    </div>

    <div id="education" class="flex flex-row">
      <div class="flex flex-column">
        <h1 class="education-title">
          Formação:
        </h1>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
      </div>

      <div class="flex flex-column">
        <h1 class="education-title">
          Experiência profissional:
        </h1>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
        <div class="education-row">
          <div class="flex flex-row">
            <div class="column progress-wrapper">
              <div class="progress-item"></div>
              <div class="progress-line"></div>
            </div>
            <div class="column education-info">
              <h1>2013 - 2016</h1>
              <h2>Universidade Federal de Santa Maria</h2>
              <h3>Bacharelado em Ciência da Computação</h3>
            </div>
          </div>
        </div>
      </div>


    </div>

    <div id="technologies" class="flex flex-column">
      <h2>Tecnologias</h2>
      <p>Teste</p>
    </div>
  </div>
</section>


<router-outlet></router-outlet>
