<app-header></app-header>

<section class="main-container">
  <div class="main">
    <!-- Introduction section -->
    <app-home-intro></app-home-intro>
    
    <!-- Personal information section -->
    <app-home-personal></app-home-personal>
    
    <!-- Education and experiences section -->
    <app-home-education></app-home-education>
    
    <!-- Technologies section -->
    <app-home-technologies></app-home-technologies>

    <app-home-comments></app-home-comments>
  </div>
</section>


<router-outlet></router-outlet>
