<div id="education" class="flex flex-row">
  <div class="flex flex-column">
    <h1 class="education-title">
      Formação:
    </h1>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-column">
    <h1 class="education-title">
      Experiência profissional:
    </h1>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
    <div class="education-row">
      <div class="flex flex-row">
        <div class="column progress-wrapper">
          <div class="progress-item"></div>
          <div class="progress-line"></div>
        </div>
        <div class="column education-info">
          <h1>2013 - 2016</h1>
          <h2>Universidade Federal de Santa Maria</h2>
          <h3>Bacharelado em Ciência da Computação</h3>
        </div>
      </div>
    </div>
  </div>
</div>