@import '../../colors.scss';

#personal {
  padding: 20px 30px;

  > .flex {
    align-content: flex-start;
  }

  > .flex:first-child {
    width: 40%; 
    flex-wrap: wrap;
  }

  > .flex:last-child {
    flex: 1;
  }

  .personal-info {
    width: 50%;
    padding-right: 12px;
    margin-bottom: 12px;

    h1 {
      font-size: .95rem;
      font-weight: bold;
      color: $light-blue;
    }

    h2 {
      font-size: 1rem;
      color: $gunmetal;
      overflow-x: hidden;
      font-family: 'Quicksand', 'Montserrat' , sans-serif;
    }
  }

  .resumo {
    width: 100%;

    h1 {
      font-size: 1.2rem !important;
    }
    h2 {
      font-size: .95rem;
      font-family: 'Quicksand', 'Montserrat' , sans-serif;
    }
  }

  @media (max-width:800px) {
    .personal-info:not(.resumo) h1 {
      font-size: .8rem;
    }
    .personal-info:not(.resumo) h2 {
      font-size: .85rem;
    }
  }

  @media (max-width:700px) {
    flex-direction: column !important;

    > .flex {
      width: 100% !important;
    }
  }
}

