<div id="personal" class="flex flex-row">
  <div class="flex flex-row">
    <div class="personal-info">
      <h1>Cidade</h1>
      <h2>Porto Alegre</h2>
    </div>
    <div class="personal-info">
      <h1>Data de nascimento</h1>
      <h2>16/07/1995</h2>
    </div>
    <div class="personal-info">
      <h1>Endereço</h1>
      <h2>R. Jari 359</h2>
    </div>
    <div class="personal-info">
      <h1>E-mail</h1>
      <h2>pvinics@gmail.com</h2>
    </div>
  </div>
  <div class="flex flex-column">
    <div class="personal-info resumo">
      <h1>Resumo</h1>
      <h2>Possuo‌ ‌graduação‌ ‌(2016)‌ ‌e‌ ‌mestrado‌ ‌(2019)‌ ‌em‌ ‌Ciência‌ ‌da‌ ‌Computação‌ ‌pela‌ ‌Universidade‌ ‌
        Federal‌ ‌de‌ ‌Santa‌ ‌Maria.‌ ‌Durante‌ ‌a‌ ‌graduação‌ ‌atuei‌ ‌como‌ ‌pesquisador‌ ‌no‌ ‌Programa‌ ‌de‌ ‌
        Educação‌ ‌Tutorial‌ ‌do‌ ‌curso,‌ ‌quando‌ ‌tive‌ ‌o‌ ‌primeiro‌ ‌contato‌ ‌com‌ ‌a‌ ‌docência.‌ ‌No‌ ‌programa,‌ ‌
        realizei‌ ‌diferentes‌ ‌cursos‌ ‌para‌ ‌alunos‌ ‌de‌ ‌semestres‌ ‌iniciais.‌ ‌Durante‌ ‌o‌ ‌mestrado,‌ ‌ministrei‌ ‌
        aulas‌ ‌de‌ ‌programação‌ ‌básica‌ ‌durante‌ ‌a‌ ‌docência‌ ‌orientada.‌ ‌Desde‌ ‌2018‌ ‌atuo‌ ‌como‌ ‌Analista‌ ‌
        de‌ ‌Sistemas‌ ‌no‌ ‌Banrisul,‌ ‌onde‌ ‌também‌ ‌tive‌ ‌contato‌ ‌com‌ ‌a‌ ‌função‌ ‌de‌ ‌instrutor‌ ‌de‌ ‌
        programação‌ ‌para‌ ‌turmas‌ ‌de‌ ‌estagiários‌ ‌da‌ ‌empresa.‌ </h2>
    </div>
  </div>
</div>