@import '../../colors.scss';

#technologies {
  padding: 60px 30px;
  background-color: $indigo-blue;
  color:$white;
  align-items: center;
  min-height: 150px;

  > .flex {
    flex-wrap: wrap;
    justify-content: center;
  }

  h2 {
    width: 100%;
    text-align: center;
    font-family: 'Karantina', 'Roboto';
  }

  .tech-card {
    padding: 10px;
    margin: 0 10px;
    text-align: center;

    img {
      width: 60px;
      border-radius: 10px;
    }

    p {
      margin-top: 6px;
      margin-bottom: 0;
    }
  }
}